workflow/My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "content": "## Test if the server is started",
        "height": 260,
        "width": 760
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -340,
        -60
      ],
      "id": "6a83341c-9d27-4c55-a042-ec6bbd554db5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "http://api:3000/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        20
      ],
      "id": "b98e8515-a636-4600-b713-2c214f96f5b0",
      "name": "Hello world"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        20
      ],
      "id": "59ac08d0-5fcd-4e90-bdb6-120a744a84dc",
      "name": "When click, run call api"
    },
    {
      "parameters": {
        "errorMessage": "The message is not right."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        280,
        100
      ],
      "id": "12dd67b6-6961-4082-a33f-54c0811dd39d",
      "name": "Stop and Error"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        280,
        -40
      ],
      "id": "17a88cb0-fea4-4f84-8547-00e187c38b00",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "baf062c0-1b08-4c44-aff1-4a8211854a7d",
              "leftValue": "={{ $json.data }}",
              "rightValue": "Hello World!",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        60,
        20
      ],
      "id": "dabf8fa4-5efb-4dca-983f-c63e0fef6da0",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "When click, run call api": {
      "main": [
        [
          {
            "node": "Hello world",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hello world": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dbac135d-7b54-47ea-a663-16b8f221b2ae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "92af19ecf63051fc5569d8a241acb07eae1c1b00d400e734b9706b106a8ab5e6"
  },
  "id": "sNtzV91g6ZbkowpW",
  "tags": []
}